# Auto detect text files and perform LF normalization
* text=auto
models/saved_models/SR1_M87_2021_108_hilo_hops_netcal_StokesI_225.pt filter=lfs diff=lfs merge=lfs -text
models/saved_models/Diffusion_M87_eht2022_230_thnoise_1.pt filter=lfs diff=lfs merge=lfs -text
data/sample_training_data/imgs_disk.npy filter=lfs diff=lfs merge=lfs -text
data/sample_training_data/imgs_ellipse.npy filter=lfs diff=lfs merge=lfs -text
data/sample_training_data/imgs_gauss.npy filter=lfs diff=lfs merge=lfs -text
data/sample_training_data/imgs_ring.npy filter=lfs diff=lfs merge=lfs -text
